
@import url(http://fonts.googleapis.com/css?family=Enriqueta:400,700);


@import url(https://fonts.googleapis.com/css?family=Cantora+One);
body {font-family: Verdana, sans-serif;color:black;background-image: url("../Imagenes/background.jpg"); background-repeat: no-repeat;
 background-attachment: fixed; background-position: center;background-repeat: no-repeat; background-size: cover;}

 .fotocircular {
  border-radius: 50%;
 }

 .center {
   display: flex;
   justify-content: center;
   text-align: center;

}
.centerimg  {
  margin-top: 15em;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.fotocircular{
    border-radius= "50%";


}
h1{
    color: #FFFFFF;
  	font-family: "Enriqueta", serif;
  	font-size: 44px;
  	line-height: 48px;

}
header {
  width: 100%;


}


.hidden {
  opacity:0;
}
.console-container {
  margin-left: auto;
  margin-right: auto;
  font-family:Khula;
  font-size:44px;
  height:150px; /* 200px before */
  width:700px;  /* 600px before */
  color:WHITE;
}






nav[role="full-horizontal"] {
  position: absolute;
  margin-left:31.5%;
 width: 70%;
  top:2%;


}
nav[role="full-horizontal"] ul {
  margin: auto;
  list-style: none;
}




nav[role="full-horizontal"] ul > li  {
  position:relative;
  float: left;
  padding: .25em 1em;
  margin-left: 1%;
  text-transform: uppercase;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
  text-align: center;
  border-radius: .75em;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  transition-property: background, color, padding, border-radius;
  box-shadow: 0.1em -0.1em 0 0.1em rgba(0, 0, 0, 0.2), inset 0 0 0 0.15em rgba(0, 0, 0, 0.4), -0.1em 0.1em 0 0.1em rgba(0, 0, 0, 0.2);
}

nav[role="full-horizontal"] ul > li:last-child:after {
  box-shadow: none;
}
nav[role="full-horizontal"] ul > li:hover {
  background-color: rgba(65, 65, 65);
  padding-left: 3em;
}
nav[role="full-horizontal"] ul > li:hover > a {
  color: #fff;
}
nav[role="full-horizontal"] ul > li > a {
  color: #333;
  text-decoration: none;
  font-size: 1.4em;
  transition: color .3s ease-in-out;
}
nav[role="full-horizontal"] ul > li#special > a#special {
  color: #fff;
  text-decoration: none;
  font-size: 1.4em;
  transition: color .3s ease-in-out;
}
nav[role="full-horizontal"] ul > li#special:hover > a#special {
  color: #333;
}


nav[role="full-horizontal"] ul > li#special  {
  position:relative;
  float: left;
  padding: .25em 1em;
  margin-left: 1%;
  text-transform: uppercase;
  cursor: pointer;
  background: rgba(65, 65, 65, 1);
  text-align: center;
  border-radius: .75em;
  box-shadow: 0.1em -0.1em 0 0.1em rgba(0, 0, 0, 0.2), inset 0 0 0 0.15em rgba(0, 0, 0, 0.4), -0.1em 0.1em 0 0.1em rgba(0, 0, 0, 0.2);
}
